@model IEnumerable<SiteViewModel>
<section class="page_wrap">
    <div class="page_content">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">
                @TempData["Success"]
            </div>
        }
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Error"]
            </div>
        }
        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-3">
                <h5 class="m-0">جهات الجامعة</h5>
                <div class="d-flex gap-2">
                    <div class="form-group">
                        <input type="text" class="form-control table__quick_search"
                               placeholder="البحث السريع ...">
                    </div>
                    <a asp-action="InsertSite" class="btn btn-primary">إضافة جهة</a>
                </div>
            </div>
            <div class="block-body">
                <table class="table table-hover js-dataTable">
                    <thead>
                        <tr>
                            <th>رمز الجهة</th>
                            <th>اسم الجهة باللغة العربية</th>
                            <th class=""></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr class="cursor-pointer" goto="order_details.cshtml">
                                    <td>@item.SiteCode</td>
                                    <td>@item.SiteNameAR</td>
                                    <td class="action_td text-end">
                                        <a asp-action="ViewSiteByGUID" asp-route-id="@item.Guid" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                           data-bs-target="#view_section_@item.Guid">عرض</a>
                                        <!-- View Section Modal -->
                                        <div class="modal fade" id="view_section_@item.Guid" tabindex="-1"
                                             aria-labelledby="view_sectionLabel_@item.Guid" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header" bg-primary text-white style="background-color: #186F70; color: white;">
                                                        <h5 class="modal-title" id="view_sectionLabel">عرض بيانات الجهة</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <div class="row justify-content-center">
                                                                <div class="col-md-6">
                                                                <label asp-for="@item.SiteNameAR" class="card-title text-muted"></label>
                                                                <p class="card-text fw-bold">@item.SiteNameAR</p>
                                                                </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                                <div class="col-md-6">
                                                                <label asp-for="@item.SiteNameEn" class="card-title text-muted"></label>
                                                                <p class="card-text fw-bold justify-content-center">@item.SiteNameEn</p>
                                                                </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                                <div class="col-md-6">
                                                                <label asp-for="@item.SiteCode" class="card-title text-muted"></label>
                                                                <p class="card-text fw-bold">@item.SiteCode</p>
                                                                </div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                                <div class="col-md-6">
                                                                <button type="button" class="btn btn-secondary " 
                                                                            data-bs-dismiss="modal">
                                                                        إلغاء
                                                                    </button>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a asp-action="UpdateSite" asp-route-id="@item.Guid" class="btn btn-sm btn-success" >تعديل</a>
                                        <a asp-action="DeleteSite" asp-route-guid="@item.Guid" class="btn btn-sm btn-danger" 
                                        onclick="return confirm('هل أنت متأكد من حذف الجهة؟')">حذف </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</section><!-- End Page Wrap -->