@using Nashet.Business.ViewModels
@model IEnumerable<ActivityViewModel>
<section class="page_wrap">
    <div class="page_content">
        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-3">
                <h5 class="m-0">الأنشطة</h5>
                <div class="d-flex gap-2">
                    <div class="form-group">
                        <input type="text" class="form-control table__quick_search"
                               placeholder="البحث عن نشاط ...">
                    </div>
                    <a asp-action="InsertActivity" asp-controller="Activity" asp-area="ActivitiesSupervisor" class="btn btn-primary">إضافة نشاط</a>
                </div>
            </div>
            <div class="block-body mx-auto px-4 py-8">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 justify-items-center">

                <div class="row" id="ActivitiesContainer">
               <!-- Filter by club -->
                    <form method="get" asp-action="Activities" asp-controller="Activity" asp-area="ActivitiesSupervisor" class="mb-10 w-full">
                        <div class="flex items-stretch md:items-center bg-white rounded shadow-sm p-3 input-shadow border border-gray-200">
                        <div class="flex items-center space-x-2 space-x-reverse mb-3 md:mb-0 md:ml-4 flex-shrink-0">
                            <label for="selectedClub" class="text-lg font-semibold text-gray-700 whitespace-nowrap">النادي</label>
                            @{
                                var clubList = (IEnumerable<ClubViewModel>)ViewBag.Club;
                                var queryGuid = ViewContext.HttpContext.Request.Query["clubGuid"];
                                Guid ClubGuid = Guid.TryParse(queryGuid, out var parsedGuid) ? parsedGuid : Guid.Empty;
                            }
                            @Html.DropDownList("clubGuid",
                            new SelectList(clubList, "Guid", "ClubNameAR", ClubGuid),
                                                        "-- اختر النادي --",
                                                        new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        </div>
                    </form> 
                </div>
                <!-- view activities -->
                <div class=" row border-active-dark px-4 py-3" id="ActivitiesContainer">
                        @foreach (var item in Model)
                        {
                            <div class="border-hover-gray-300 col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                                <a asp-action="ActivityPage" asp-route-guid="@item.Guid" asp-controller="Activity" asp-area="ActivitiesSupervisor"
                                   class="d-block bg-white rounded shadow-sm text-center p-3 h-100" >
                                    <img src="@item.ActivityPoster"
                                         alt="@item.ActivityTopic Poster"
                                         class="w-24 h-24 img-fluid mb-2"
                                         style="max-height: 100px; object-fit: contain;" />
                                    <h6 class="text-dark">@item.ActivityTopic</h6>
                                </a>
                            </div>
                        }
                    </div>
                 </div>
            </div>
        </div>

    </div>
</section>
<style>
    a {
        text-decoration: none;
    }
</style>

