@model MembershipRequestViewModel
<section class="page_wrap">
    <div class="page_content">

        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-4">
                <h5 class="m-0">رفع طلب عضوية</h5>
            </div>
            <div class="block-body py-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <form asp-action="InsertMembershipRequest" asp-controller="MembershipRequest" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <label asp-for="ClubGuid" class="mb-1">  </label>
                                    <select asp-for="ClubGuid" class="form-control">
                                        <option value="">-- اختر النادي --</option>
                                        @foreach (ClubViewModel club in ViewBag.Club)
                                        {
                                            <option value="@club.Guid">@club.ClubNameAR</option>
                                        }
                                    </select>
                                    <span style="color:red" asp-validation-for="ClubGuid"></span>

                                </div>
                                <div class="col-md-6">
                                    <label asp-for="StudentID" class="mb-1">  </label>
                                    <select asp-for="StudentID" class="form-control">
                                        <option value="">-- اختر الطالب --</option>
                                        @foreach (StudentViewModel st in ViewBag.Student)
                                        {
                                            <option value="@st.StudentId">@st.StudentNameAr</option>
                                        }
                                    </select>
                                    <span style="color:red" asp-validation-for="StudentID"></span>

                                </div><!-- END ITEM -->

                                <!-- الفريق الأول -->
                                <div class="form-group mb-3">
                                    <label asp-for="RequestTeam1" class="form-label">الرغبة الأولى</label>
                                    <select id="RequestTeam1" name="RequestTeam1" class="form-control">
                                        <option selected disabled value="">-- اختر الفريق --</option>
                                    </select>
                                    <span style="color:red" asp-validation-for="RequestTeam1"></span>
                                </div>

                                <!-- الفريق الثاني -->
                                <div class="form-group mb-3">
                                    <select id="RequestTeam2" name="RequestTeam2" class="form-control">
                                        <option selected disabled value="">-- اختر الفريق --</option>
                                    </select>
                                    <span style="color:red" asp-validation-for="RequestTeam2"></span>
                                </div>

                                <!-- الفريق الثالث -->
                                <div class="form-group mb-3">
                                    <label asp-for="RequestTeam3" class="form-label">الرغبة الثالثة</label>
                                    <select id="RequestTeam3" name="RequestTeam3" class="form-control">
                                        <option selected disabled value="">-- اختر الفريق --</option>
                                    </select>
                                    <span style="color:red" asp-validation-for="RequestTeam3"></span>

                                     <!-- سبب التقديم -->
                                    <div class="form-group mb-3">
                                        <label asp-for="RequestReason" class="form-label"></label>
                                        <textarea asp-for="RequestReason" class="form-control" rows="3" placeholder=" سبب التقديم"></textarea>
                                        <span asp-validation-for="RequestReason" class="text-danger"></span>
                                    </div>

                                    <!-- التاريخ -->
                                    <div class="form-group mb-3">
                                        <label asp-for="RequestDate" class="form-label"></label>
                                        <input asp-for="RequestDate" type="date" class="form-control" />
                                        <span asp-validation-for="RequestDate" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100 mt-3">إرسال الطلب</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Page Wrap -->
@section Scripts {
    <script>
        @if (ViewBag.Successful != null)
        {
            <text>
                Swal.fire({
                title: "تم رفع الطلب",
                icon: "success",
                confirmButtonText: "موافق",
                draggable: true
                }).then(() => {
                window.location.href = '@Url.Action("StudentHome", "Home")';
                });
            </text>
        }
        else if (ViewBag.Error != null)
        {
            <text>
                 Swal.fire({
                 title: "خطأ",
                 icon: "error",
                 confirmButtonText: "موافق"
                 });
            </text>
        }
    </script>
    <script>
        $(document).ready(function () {
            showTeamValue($("#ClubGuid").val());
        });

        $("#ClubGuid").on("change", function () {
            showTeamValue($(this).val());
        });

        function showTeamValue(val) {
            $.getJSON('@Url.Action("GetTeamByClubGuid", "MembershipRequest")/' + val, function (result) {
                $("#RequestTeam1").html(""); // makes select null before filling process
                $("#RequestTeam1").append('<option selected disabled>اختر الفريق..</option>');
                for (var i = 0; i < result.length; i++) {
                    $("#RequestTeam1").append("<option value='" + result[i].guid + "'>" + result[i].teamNameAR + "</option>")
                }
                $("#RequestTeam2").html(""); // makes select null before filling process
                $("#RequestTeam2").append('<option selected disabled>اختر الفريق..</option>');
                for (var i = 0; i < result.length; i++) {
                    $("#RequestTeam2").append("<option value='" + result[i].guid + "'>" + result[i].teamNameAR + "</option>")
                }
                $("#RequestTeam3").html(""); // makes select null before filling process
                $("#RequestTeam3").append('<option selected disabled>اختر الفريق..</option>');
                for (var i = 0; i < result.length; i++) {
                    $("#RequestTeam3").append("<option value='" + result[i].guid + "'>" + result[i].teamNameAR + "</option>")
                }
            });
        }
    </script>
}
